  .aw-layout-content {
    position: relative;
    margin: 0;
    margin-top: 50px;
    transition: all 0.5s;
  }
  @media (min-width: 992px) {
    .aw-layout-content.is-toggled {
      margin-left: 0;
    }
  }
  @media (min-width: 992px) {
    .aw-layout-content {
      margin-left: 210px;
    }
  }