.aw-layout-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    margin: 0;
    border-top: 1px solid #eeeeee;
    transition: all 0.5s;
  }
  @media (min-width: 992px) {
    .aw-layout-footer.is-toggled {
      margin-left: 0;
    }
  }
  @media (min-width: 992px) {
    .aw-layout-footer {
      margin-left: 210px;
    }
  }