.main-footer {
    position: fixed;
    bottom:0px;
    width:100%;
}

button {
    margin-left: 5px;
}

.table-actions {
    text-align: center;
    width: 150px;
}
@media (max-width: 552px) {
    .table-actions {
        text-align: center;
        width: 50px;
    }
  }